<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Project | POW-OS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>

    <div class="container">

        <div class="class auth-box">

            <h2>Create New Project</h2>

            {% if error %}
            <p style="color: red; margin-bottom: 10px;">
                {{ error }}
            </p>
            {% endif %}

            <form method="POST">

                <input 
                    type="text" 
                    name="title" 
                    placeholder="Project Title" 
                    required
                >

                <textarea 
                    name="description" 
                    placeholder="Project Description (optional)" 
                    rows="5"
                ></textarea>

                <select name="status" required>
                    <option value="Pending">Pending</option>
                    <option value="Completed">Completed</option>
                    <option value="Paused">Paused</option>
                </select>

                <label>Start Date</label>
                <input 
                    type="date" 
                    name="start_date" 
                >

                <label>End Date</label>
                <input
                    type="date"
                    name="end_date"
                >

                <input 
                    type="url"
                    name="github_url"
                    placeholder="GitHub Repository URL"
                >

                <input 
                    type="url"
                    name="live_url"
                    placeholder="Live Project URL"
                >

                <button type="submit">Create Project</button>

            </form>

            <p style="margin-top:20px;">
                <a href="/projects">
                    ← Back to Projects
                </a>
            </p>

        </div>

    </div>
    
</body>

</html>