<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard | POW-OS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">

        <div class="navbar">
            <div>
                <h1>Welcome, {{ username }} 🚀</h1>
                <div class="score-box">
                    Execution Score: {{ score }}
                </div>
            </div>

            <div>
                <div class="task-actions">
                    <a href="/add-task" class="action-btn dark-btn">
                        + Add Task
                    </a>

                    <a href="/logout" class="action-btn light-btn">
                        Logout
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <h2>Your Tasks</h2>

            {% if tasks %}
            <div class="task-grid">

                {% for task in tasks %}
                <div class="task-box">
                    <h3 style="margin-bottom: 10px;">
                        {{ task[1] }}
                    </h3>

                    <p>
                        Status:
                        <strong>{{ task[2] }}</strong>
                    </p>

                    <div class="task-actions">

                        {% if task[2] == "Pending" %}
                        <a href="/complete-task/{{ task[0] }}" class="btn-small complete-btn">
                            Mark Completed
                        </a>
                        {% endif %}

                        <a href="/delete-task/{{ task[0] }}" class="btn-small delete-btn">
                            Delete
                        </a>

                    </div>
                </div>
                {% endfor %}

            </div>
            {% else %}
            <p>No tasks yet. Start building your execution streak.</p>
            {% endif %}
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>