<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login | POW-OS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">
        <div class="card auth-box">
            <h2>Login</h2>

            {% if error %}
            <p style="color: red; margin-bottom: 15px;">
                {{ error }}
            </p>
            {% endif %}

            <form method="POST">
                <input type="email" name="email" placeholder="Enter Email" required>

                <input type="password" name="password" placeholder="Enter Password" required>

                <button type="submit">Login</button>
            </form>

            <p style="margin-top:20px;">
                Don’t have an account?
                <a href="/signup">Signup</a>
            </p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>